body, input, button {
  font-size: 22px;
  font-family: 'IBM Plex Mono', monospace;
}

textarea {
  position: relative;
  font-size: 22px;
  font-family: 'IBM Plex Mono', monospace;
  resize: none;
  outline: none;
  border: none;
}

body {
  margin: 0px;
}

a {
  color: black;
  text-decoration: none;
}

a:visited:not(.disabled) {
  color: black;
}

/*general*/

.background-green {
  background-color: rgba(139,255,169,1);
}

.bordered {
  border: 1px solid black;
  border-radius: 3px;
}

.border-bottom {
  border-bottom: 1px solid black;
}

.button-padding {
  padding: 3px 9px;
}

.cursor-pointer {
  cursor: pointer;
}

.date-span {
  font-size: 16px;
}

.disabled {
  color: #F1F1F1;
}

.disabled-bordered {
  border: 1px solid #F1F1F1;
  border-radius: 3px;
}

.display-none {
  display: none;
}

.margin-x {
  margin: 0px 2px;
}

.text-input {
  border: none;
  outline: none;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.save-button {
  background-color: rgba(0,0,0,1);

  -webkit-transition: background-color .5s;
  -moz-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
}

/*flex*/

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-row-end {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}